extends layout

block content
  div#content.container
  if loggedIn
    br
    .text-center
      a(href='#', onclick='javascript:loggedIn=!loggedIn') Toggle
  script.
    var loggedIn = #{loggedIn};
  script(src='/js/bundle.js')