doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/bower/react/react.min.js')
    script(src='/bower/jquery/dist/jquery.min.js')
  body
    block content