doctype html
html
  head
    title= title
    //- TODO: replace with own bootstrap in case CDN stops serving this file
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content